<%= form_for(@link, :html => { "data-behavior" => "submit-form", :class => 'clearfix'}) do |f| %>
  <% if @link.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> 
        prohibited this link from being saved:
      </h2>
      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :name, :value => @link_title %>
  <div class="field urlsaver">
     
      <% if params[:autosave]  %>
        <%= f.text_field :url, :value => params[:autosave] %>
      <% else %>
        <%= f.text_field :url %>
      <% end %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', :class => 'btn floatLeft' %>
  </div>
  <br><br>
<% end %>

<% if params[:autosave] %>
      <script>
        $(function() {
          $('[data-behavior~=submit-form]').submit();
        });

        
      </script> 


<% end %>
<div class="clearfix">&nbsp;</div>
 

