<%= form_for(@link, :html => { "data-behavior" => "submit-form", :class => 'clearfix'}) do |f| %>
  <% if @link.errors.any? %>
    <style type="text/css">
      .actions input,#link_url {border:1px solid rgba(244,46,70,.40);}
    </style>
    <div id="error_explanation">
      <h2><i class='icon-warning-sign' style='color:red;'>&nbsp; </i> <%= pluralize(@link.errors.count, "error") %> . darn. please fix:
      </h2>
      <ol>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ol>
    </div>
  <% end %>
  <%= f.hidden_field :name, :value => @link_title %>

  <%= f.hidden_field :remarks, :value => params[:remarks] %>
  
  <div class="field urlsaver">
     
      <% if params[:autosave]  %>
        <%= f.text_field :url, :value => params[:autosave] %>
      <% else %>
        <%= f.text_field :url %>
      <% end %>
  </div>
      <% if params[:notes]  %>
        <%= f.hidden_field :remarks, :value => params[:notes] %>
      <% end  %>
  <div class="actions">
    <%= f.submit 'Save', :class => 'btn floatLeft greenGradient' %>
  </div>
  <br><br>
<% end %>

<% if params[:autosave] %>
      <script>
        $(function() {
          $('[data-behavior~=submit-form]').submit();
        });

        
      </script> 


<% end %>
<div class="clearfix">&nbsp;</div>



