%form{:action => "/#show-links", :method => "get", :style => "float:right"}
  <input type="text" name="search" placeholder="search?"
  - if params[:search]
    value="#{params[:search]}"
  >
  %br/
%table.table
  %tr
    %th
    %th Notes
    %th Url
    %th
    %th
  :javascript
    $(function() {
        
        $(".#{Link.first.id}").css({ backgroundColor: "#FFFF88" }, 3000);
      });
  - @links.each do |link|
    %tr{:class => link.id}
      %td= image_tag link.favicon, :height => "16px", :width => "16px" if link.favicon
      %td{:style => "max-width:400px"}=  link.remarks.present? ? link.remarks : link.name
      %td= link_to "<i class='icon-external-link'></i> #{truncate(link.url, :length => 60)}".html_safe, link.url, :target => "_blank"
      %td= link_to '<i  class="icon-edit"> Edit </i>'.html_safe, edit_link_path(link), :class => 'iframe', :id=> "various5"
      %td= link_to '<i  class="icon-trash"> Destroy</i>'.html_safe, link, method: :delete, data: { confirm: 'Are you sure?' }
  - if @links.size < 1
    %h2 No results, yo.
= will_paginate @collection, :renderer => BootstrapPagination::Rails
