<%= render 'navigation' %>
<div class="liquid-slider"  id="slider-id"  data-behavior="fadein">
  <div class="formSlider">
    <h2 class="title" style="float:left">Make Links</h2>
    <abbr class="tooltipper" title="<ol><li>This app saves links for rich to read. That's it. Use the bookmarklet to save links while on other sites.</li><br><li>Also, you can use the left, right, 1, 2, and 3 keyboard shortcuts to navigate. thanks!</li></ol>" rel="tooltip">What is this <i class="icon-question-sign"></i></abbr>
    <div class="clearfix">&nbsp;</div>
    <%= render 'form' %>
  </div><!-- end make links slide -->
  <div>
    <h2 class="title">Show Links</h2>

    <%= render 'show_all' %>
  </div>  <!-- end show links slide -->     

  <div>
    <h2 class="title">Bookmarklet</h2>
       <span class="dragExplain">Drag <a href="javascript:void(location.href='<%= root_url %>?autosave='%20+%20encodeURIComponent(location.href));" style="text-align:center;">this link</a>, or highlight the code below, and put it where your bookmarklets live.  When you wana' save a link click it from any webpage you're on!</span>
      <pre>javascript:void(location.href='<%= root_url %>?autosave='%20+%20encodeURIComponent(location.href));</pre>
  </div>  <!-- end show links slide -->   
</div><!-- end slider-id -->
<br><br><br>   
 