<%= render 'navigation' %>
<div class="liquid-slider"  id="slider-id">
  <div class="formSlider">
    <h2 class="title">Make Links</h2>
    <%= render 'form' %>
  </div><!-- end make links slide -->
  <div>
    <h2 class="title">Show Links</h2>
    <%= render 'show_all' %>
  </div>  <!-- end show links slide -->     

  <div>
    <h2 class="title">Bookmarklet</h2>
       <span class="dragExplain">Drag <a href="javascript:void(location.href='<%= root_url %>?autosave='%20+%20encodeURIComponent(location.href));" style="text-align:center;">this link</a>, or highlight the code below, and put it where your bookmarklets live.  When you wana' save a link click it from any webpage you're on!</span>
      <pre>javascript:void(location.href='<%= root_url %>?autosave='%20+%20encodeURIComponent(location.href));</pre>
  </div>  <!-- end show links slide -->   
</div><!-- end slider-id -->
<br><br><br>   
 