<%= render 'navigation' %>


<div class="liquid-slider"  id="slider-id">
  <div>
    <h2 class="title">Make Links</h2>
    <%= render 'form' %>
    <%# link_to 'Back', links_path %>
  </div><!-- end make links slide -->
 <% if @links.size > 0  %>
  <div>
    <h2 class="title">Show Links</h2>
    <%= render 'show_all' %>
  </div>  <!-- end show links slide -->     
 <% end %>
  <div>
    <h2 class="title">Bookmarklet</h2>
      <a  href="javascript:void(location.href='<%= root_url %>?autosave='%20+%20encodeURIComponent(location.href));" style="text-align:center;width:300px"> Drag this link, or highlight the code below, and put it where your bookmarklets live. The and click it from any webpage you'd like him to read!</a>

      <pre>javascript:void(location.href='<%= root_url %>?autosave='%20+%20encodeURIComponent(location.href));</pre>
    
  </div>  <!-- end show links slide -->   
</div><!-- end slider-id -->
<br><br><br>   
 