<!DOCTYPE html>
<html>
<head>
  <title>Links</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag '/jquery.fancybox.js' %>  
  <%= stylesheet_link_tag    "/jquery.fancybox.css" %>

<script type="text/javascript">
$(document).ready(function() {

      
  $("#various5").fancybox({
    'width'       : '75%',
    'height'      : '25%',
        'autoScale'       : false,
        'transitionIn'    : 'none',
    'transitionOut'   : 'none',
    'type'        : 'iframe'
  });


}); // end doc ready
 </script>

</head>
<body>
  <% if notice %>
    <p id="notice" data-behavior="slideUp">
      <%= notice %>
      <a href="javascript:void(0);" data-behavior="closeMe" class="removeborder"> 
        <i class="icon-remove"> &nbsp;</i>
      </a>
    </p>
  <% end  %>
  <div id="wrapper">
    <%= yield %>
  </div><!-- end wrapper -->
</body>
</html>
