<!DOCTYPE html>
<html>
<head>
  <title>Links</title>
  <!-- !!!! FONTS. GET THESE FIRST !!!!  -->
<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Satisfy|Oswald|Nobile|Open+Sans' rel='stylesheet' type='text/css'>


  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag '/jquery.fancybox.js' %>  
  <%= stylesheet_link_tag    "/jquery.fancybox.css" %>
  <%#= stylesheet_link_tag    "/responsive.css" %>

</head>
<body>

  <div id="backgroundStamp">&nbsp;</div>
  <% if notice %>
    <p id="notice" data-behavior="slideUp">
      <%= notice %>
      <a href="javascript:void(0);" data-behavior="closeMe" class="removeborder"> 
        <i class="icon-remove"> &nbsp;</i>
      </a>
    </p>
  <% end  %>
  <div id="wrapper">
    <%= yield %>

    <div id="footer">
      <i class="icon-heart">&nbsp;</i> Lovingly made on (Rails <%= Rails.version %>)  (Ruby <%= RUBY_VERSION %>) by   
      <a href="http://sodigit.al" target="_blank">sodigit.al</a>
      <img src="/assets/glasses-son.gif">
    </div>

  </div><!-- end wrapper -->

</body>
</html>
